workflows/AI powered lead gen
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Companies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=0"
        },
        "options": {}
      },
      "id": "ebd6d4dc-48a7-47a1-8b8d-1c745e0d90a7",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        -7008,
        544
      ],
      "typeVersion": 1,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "G23RZIMBwpxxWbnQ",
          "name": "Awais Google sheet Account credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/api/v1/organizations/enrich",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "=  {{ $json.Website.extractDomain().replace(/^www\\./, '') }}\n"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n    \"accept\": \"application/json\",\n    \"Cache-Control\": \"no-cache\",\n    \"Content-Type\": \"application/json\",\n    \"x-api-key\": \"e_hdZOMTBGcSI-Tzduns6A\"\n}",
        "options": {}
      },
      "id": "f62d9fdc-e3a1-42e1-bae0-4a3f117355ce",
      "name": "Apollo Organization Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -5664,
        672
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = 'https://api.apollo.io/api/v1/mixed_people/api_search';\nconst seniorities = ['owner', 'founder', 'c_suite', 'partner', 'vp', 'head', 'director'];\nconst seniorityParams = seniorities.map(s => `person_seniorities[]=${encodeURIComponent(s)}`).join('&');\nconst domains = $input.all().map(item => item.json.Domain);\nconst domainParams = domains.map(d => `q_organization_domains_list[]=${encodeURIComponent(d)}`).join('&');\nconst perPageParam = 'per_page=10';\nconst fullUrl = `${baseUrl}?${seniorityParams}&${domainParams}&${perPageParam}`;\nreturn [{ json: { url: fullUrl } }];\n"
      },
      "id": "5e4b1efc-90e4-4122-98e2-317ab02ea03b",
      "name": "Create Apollo People Search URL",
      "type": "n8n-nodes-base.code",
      "position": [
        -4640,
        496
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e493cffa-6b23-48c5-b55c-aba0eb71c315",
      "name": "Loop Over Items (1000 per Batch)",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -4864,
        672
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n    \"accept\": \"application/json\",\n    \"Cache-Control\": \"no-cache\",\n    \"Content-Type\": \"application/json\",\n    \"x-api-key\": \"e_hdZOMTBGcSI-Tzduns6A\"\n}",
        "options": {}
      },
      "id": "bf16b8e2-8c50-4b9b-ad37-48ea742a907f",
      "name": "Apollo Find Decision Makers",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4416,
        496
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_companies/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q_organization_name",
              "value": "={{ $json['Company Name'] }}"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n    \"accept\": \"application/json\",\n    \"Cache-Control\": \"no-cache\",\n    \"Content-Type\": \"application/json\",\n    \"x-api-key\": \"e_hdZOMTBGcSI-Tzduns6A\"\n}",
        "options": {}
      },
      "id": "c18b1dc5-6cac-4804-8914-9b3b94976f7f",
      "name": "Apollo Organization Search",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -6336,
        480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nt7cBLwwIr7kRCj6VL3wQDqfkfbL3j_dwlHHpExrL_s/edit#gid=0",
          "cachedResultName": "Companies"
        },
        "columns": {
          "value": {
            "Phone": "=",
            "Domain": "={{ $json.organizations[0].primary_domain }}",
            "Twitter": "=",
            "Website": "={{ $json.organizations[0].website_url }}",
            "Facebook": "=",
            "Industry": "=",
            "LinkedIn": "=",
            "Revenue ($)": "=",
            "Company Name": "={{ $json.organizations[0].name }}",
            "Founded Year": "=",
            "Headquarters": "=",
            "Total Funding": "=",
            "Company Description": "=",
            "Latest Funding Stage": "=",
            "Company Size (Employees)": "=",
            "Lastest Funding Round Date": "="
          },
          "schema": [
            {
              "id": "Company Name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Company Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Domain",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "LinkedIn",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Twitter",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Facebook",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Size (Employees)",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Company Size (Employees)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Headquarters",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Headquarters",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Founded Year",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Founded Year",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Revenue ($)",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Revenue ($)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Funding",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Total Funding",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Latest Funding Stage",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Latest Funding Stage",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Lastest Funding Round Date",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Lastest Funding Round Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Company Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "GPT Company Summary",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "GPT Company Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Domain"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1189cb5b-9691-4d6a-818d-f044f128da0d",
      "name": "Add Company Website",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -6112,
        480
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "user": {
          "__rl": true,
          "value": "U09US3C3U0J",
          "mode": "list",
          "cachedResultName": "awais"
        },
        "message": "Please review the Companies tab of the spreadsheet (https://docs.google.com/spreadsheets/d/1Nt7cBLwwIr7kRCj6VL3wQDqfkfbL3j_dwlHHpExrL_s/edit?gid=0#gid=0) to verify that the correct domain names were retrieved. If needed, simply find and paste correct website URL of the company in the Website column (the Domain column will be populated automatically).",
        "options": {}
      },
      "id": "2df84d05-d2cd-4dd2-9726-377bf70be2ba",
      "name": "Approve Company Website",
      "type": "n8n-nodes-base.slack",
      "position": [
        -5888,
        480
      ],
      "webhookId": "830f75dd-f56e-4086-90ac-72ca14e226ce",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "gwQxUVWuINcXzFbU",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nt7cBLwwIr7kRCj6VL3wQDqfkfbL3j_dwlHHpExrL_s/edit#gid=0",
          "cachedResultName": "Companies"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $('Apollo Organization Enrichment').item.json.organization.sanitized_phone }}",
            "Domain": "={{ $('Apollo Organization Enrichment').item.json.organization.primary_domain }}",
            "Twitter": "={{ $('Apollo Organization Enrichment').item.json.organization.twitter_url }}",
            "Website": "={{ $('Apollo Organization Enrichment').item.json.organization.website_url }}",
            "Facebook": "={{ $('Apollo Organization Enrichment').item.json.organization.facebook_url }}",
            "Industry": "={{ $('Apollo Organization Enrichment').item.json.organization.industries.join(\", \") }}",
            "LinkedIn": "={{ $('Apollo Organization Enrichment').item.json.organization.linkedin_url }}",
            "Revenue ($)": "={{ $('Apollo Organization Enrichment').item.json.organization.annual_revenue ?? '' }}",
            "Company Name": "={{ $('Apollo Organization Enrichment').item.json.organization.name }}",
            "Founded Year": "={{ $('Apollo Organization Enrichment').item.json.organization.founded_year }}",
            "Headquarters": "={{ $('Apollo Organization Enrichment').item.json.organization.raw_address }}",
            "Total Funding": "={{ $('Apollo Organization Enrichment').item.json.organization.total_funding }}",
            "Company Description": "={{ $('Apollo Organization Enrichment').item.json.organization.short_description }}",
            "GPT Company Summary": "={{ $json.message.content }}",
            "Latest Funding Stage": "={{ $('Apollo Organization Enrichment').item.json.organization.latest_funding_stage }}",
            "Company Size (Employees)": "={{ $('Apollo Organization Enrichment').item.json.organization.estimated_num_employees }}",
            "Lastest Funding Round Date": "={{ \n  $('Apollo Organization Enrichment').item.json.organization.latest_funding_round_date &&\n  DateTime.fromISO($('Apollo Organization Enrichment').item.json.organization.latest_funding_round_date).isValid\n    ? DateTime.fromISO($('Apollo Organization Enrichment').item.json.organization.latest_funding_round_date).toFormat('yyyy-MM-dd')\n    : ''\n}}",
            "Approved": "Approved",
            "Status": "Processed"
          },
          "matchingColumns": [
            "Domain"
          ],
          "schema": [
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Twitter",
              "displayName": "Twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Size (Employees)",
              "displayName": "Company Size (Employees)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Headquarters",
              "displayName": "Headquarters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Founded Year",
              "displayName": "Founded Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Revenue ($)",
              "displayName": "Revenue ($)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Funding",
              "displayName": "Total Funding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Latest Funding Stage",
              "displayName": "Latest Funding Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lastest Funding Round Date",
              "displayName": "Lastest Funding Round Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GPT Company Summary",
              "displayName": "GPT Company Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved",
              "displayName": "Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b2b2a34a-21b0-4432-b526-e21a4727b141",
      "name": "Add Company Details",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -5088,
        672
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "785952c3-f58e-4d4e-b8c4-dea3ceb424b1",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Processed"
            },
            {
              "id": "a7691f16-eed9-4216-be61-f9bef220471a",
              "leftValue": "={{ $json.Approved }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cc03fd76-2af2-43d2-a709-8bc529bf52a2",
      "name": "Select Unprocessed Companies",
      "type": "n8n-nodes-base.filter",
      "position": [
        -6784,
        544
      ],
      "notesInFlow": false,
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9087ca17-f034-4c87-b2b7-4e611ed2bcf5",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.Domain }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "5daf527a-0019-458f-b7f2-c23926399e9b",
      "name": "Is Domain Already Provided?",
      "type": "n8n-nodes-base.if",
      "position": [
        -6560,
        544
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Given the company description \"{{ $json.organization.short_description }}\", summarize the company’s core business in one line.\n"
            }
          ]
        },
        "options": {}
      },
      "id": "cf99e216-beeb-423c-912e-4d62f3c35499",
      "name": "Summarize Core Business",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -5440,
        672
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "XvCz6AskOc9x4EOK",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U09US3C3U0J",
          "mode": "list",
          "cachedResultName": "awais"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "1207992c-c5d6-4f8c-9596-92e89dfca786",
      "name": "Send Weekly Report",
      "type": "n8n-nodes-base.slack",
      "position": [
        -6512,
        1088
      ],
      "webhookId": "4323a085-01ed-415e-98d0-d176b96767aa",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "gwQxUVWuINcXzFbU",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1Nt7cBLwwIr7kRCj6VL3wQDqfkfbL3j_dwlHHpExrL_s",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nt7cBLwwIr7kRCj6VL3wQDqfkfbL3j_dwlHHpExrL_s/edit?usp=drivesdk",
          "cachedResultName": "Company Decision Maker Discovery"
        },
        "sheetName": {
          "__rl": true,
          "value": 404191424,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nt7cBLwwIr7kRCj6VL3wQDqfkfbL3j_dwlHHpExrL_s/edit#gid=404191424"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email Verified",
              "lookupValue": "Yes"
            }
          ]
        },
        "options": {}
      },
      "id": "576cd866-e9af-4c1a-9579-f11a68d8f531",
      "name": "Retrieve Verified Leads",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -6928,
        1088
      ],
      "typeVersion": 4.5,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract all items from the input\nconst items = $input.all();\n\n// Initialize Sets to store unique company domains and email addresses\nconst uniqueCompanies = new Set();\nconst uniqueEmails = new Set();\n\n// Iterate through each item to populate the Sets\nfor (const item of items) {\n  const domain = item.json['Company Domain'];\n  const email = item.json['Email Address'];\n\n  if (domain) uniqueCompanies.add(domain);\n  if (email) uniqueEmails.add(email);\n}\n\n// Create the summary message\nconst message = `This week we discovered ${uniqueEmails.size} decision makers from ${uniqueCompanies.size} companies.`;\n\n// Return the message as output\nreturn [\n  {\n    json: {\n      message,\n      companies: uniqueCompanies.size,\n      contacts: uniqueEmails.size,\n    },\n  },\n];\n"
      },
      "id": "17091f7d-f631-4121-a7fe-545fe40bfbae",
      "name": "Derive Past Week's Lead Gen. Metrics",
      "type": "n8n-nodes-base.code",
      "position": [
        -6704,
        1088
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ]
            }
          ]
        }
      },
      "id": "c50df7d1-f50e-4b49-9906-79def18942dc",
      "name": "Weekly Report Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -7152,
        1088
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "2f92d1c1-c995-4f7f-a111-e25119f24e57",
      "name": "Merge Rows Which Now All Contain Domains",
      "type": "n8n-nodes-base.merge",
      "position": [
        -5888,
        672
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "content": "# Company Enrichment\n",
        "height": 608,
        "width": 4272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7232,
        272
      ],
      "typeVersion": 1,
      "id": "cf9e57f5-00fe-4b33-ad66-344c51982670",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# Send Performance Reports\n",
        "height": 352,
        "width": 928,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7232,
        896
      ],
      "typeVersion": 1,
      "id": "9a75ec7e-e2d4-4d61-a99e-8752930f3987",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the list of people from the previous node\nconst people = $input.first().json.people || [];\n\n// 2. Define a scoring system for titles\n// 1 = Highest, 5 = Lowest\nconst getScore = (title) => {\n  if (!title) return 5; // Treat no title as lowest priority\n  const t = title.toLowerCase();\n  \n  // Rank 1: C-Suite & Founders\n  if (t.includes('ceo') || t.includes('chief') || t.includes('founder')) return 1;\n  \n  // Rank 2: Presidents, Owners, Partners\n  if (t.includes('president') || t.includes('owner') || t.includes('partner')) return 2;\n  \n  // Rank 3: Vice Presidents\n  if (t.includes('vice president') || t.includes('vp')) return 3;\n  \n  // Rank 4: Directors & Heads\n  if (t.includes('head') || t.includes('director')) return 4;\n  \n  // Rank 5: Managers, Individual Contributors, and everyone else\n  return 5; \n};\n\n// 3. Sort the people by Rank\nconst rankedPeople = people.map(person => ({\n  ...person,\n  rank: getScore(person.title)\n})).sort((a, b) => a.rank - b.rank);\n\n// 4. Take only the Top 5\nconst top5 = rankedPeople.slice(0, 5);\n\n// 5. Prepare the payload for Apollo Enrichment\n// We include the 'rank' in the object. \n// Note: While we send 'rank' here, Apollo's API response in the next node \n// might not echo this back unless you merge the data later.\nconst details = top5.map(p => ({ \n  id: p.id,\n  rank: p.rank \n}));\n\nreturn [{ json: { details } }];"
      },
      "id": "043726ab-0f89-4a01-9a29-2dcbab5d07b5",
      "name": "Rank & Filter Top 5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3968,
        624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/people/bulk_match",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  \"details\": $json.details,\n  \"reveal_personal_emails\": false,\n  \"reveal_work_emails\": true\n})\n}}",
        "options": {}
      },
      "id": "6d9066a6-ac9b-4d01-9d57-9ea02b582bac",
      "name": "Apollo Reveal Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3744,
        624
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LELdYelT76eUVxG0",
          "name": "Apollo API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "matches",
        "options": {}
      },
      "id": "36ec3cae-128f-407f-845f-8dd6dd9c168f",
      "name": "Split People",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3520,
        624
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 404191424,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nt7cBLwwIr7kRCj6VL3wQDqfkfbL3j_dwlHHpExrL_s/edit#gid=404191424"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.first_name }} {{ $json.last_name }}",
            "Job Title": "={{ $json.title }}",
            "Company": "={{ $json.organization.name }}",
            "Email Address": "={{ $json.email }}",
            "Email Verified": "={{ $json.email_status }}",
            "LinkedIn Profile URL": "={{ $json.linkedin_url }}",
            "City": "={{ $json.city }}",
            "State": "={{ $json.state }}",
            "Country": "={{ $json.country }}",
            "Date Added": "={{ $now.toUTC().toFormat('yyyy-MM-dd') }}",
            "Rank": "={{ $json.rank }}",
            "Lead Status": "New",
            "Company Domain": "={{ ($json.organization.website_url || '').replace(/^(?:https?:\\/\\/)?(?:www\\.)?/i, \"\").split('/')[0] }}",
            "Campaign Name": "={{ $('Google Sheets Trigger').first().json['Campaign Name'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rank",
              "displayName": "Rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn Profile URL",
              "displayName": "LinkedIn Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Verified",
              "displayName": "Email Verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Contacted Date",
              "displayName": "Last Contacted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow-Up Date",
              "displayName": "Follow-Up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Attempt ",
              "displayName": "Contact Attempt ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6b492950-a6ef-46e7-9748-55ad436159ff",
      "name": "Save Contacts to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3104,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "996ef786-0c9f-4ab0-8a60-5939d1684808",
              "leftValue": "={{ $json.total_entries }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4192,
        624
      ],
      "id": "c0fb75ad-3700-4b89-81f8-f306a35e6a32",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Company Finding\n",
        "height": 564,
        "width": 2784,
        "color": 5
      },
      "id": "219c9cfa-3e6f-4b6c-958e-26305df4c50e",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7232,
        -320
      ]
    },
    {
      "parameters": {
        "formTitle": "ChatWalrus - Smart Lead Finder",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Campaign Name",
              "placeholder": "Summer Outreach",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Industry",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Location",
              "requiredField": true
            },
            {
              "fieldLabel": "Revenue Min",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Revenue Max",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Employees Range",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1,10"
                  },
                  {
                    "option": "11,50"
                  },
                  {
                    "option": "51,200"
                  },
                  {
                    "option": "201,500"
                  },
                  {
                    "option": "501,1000"
                  },
                  {
                    "option": "1001,10000"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Number of Results",
              "requiredField": true
            },
            {
              "fieldLabel": "Start Page",
              "fieldType": "number",
              "defaultValue": 1,
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Find New Leads",
          "path": "companies-intake"
        }
      },
      "id": "c9c61481-e7d4-4ffa-a8d6-1fd47132047c",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -7136,
        -80
      ],
      "webhookId": "85442a7a-4229-40d4-81f2-caaa29560d60"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Companies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.organization.name }}",
            "Website": "={{ $json.organization.website_url}}",
            "LinkedIn": "={{ $json.organization.linkedin_url }}",
            "Twitter": "={{ $json.organization.twitter_url }}",
            "Facebook": "={{ $json.organization.facebook_url }}",
            "Phone": "={{ $json.organization.phone.toString().replace(/^\\+1/, '') }}",
            "Company Size (Employees)": "={{ $json.organization.estimated_num_employees }}",
            "Industry": "={{ $json.organization.industry }}",
            "Revenue ($)": "={{ $json.organization.organization_revenue }}",
            "Founded Year": "={{ $json.organization.founded_year }}",
            "Headquarters": "={{ $json.organization.raw_address }}",
            "Total Funding": "={{ $json.organization.total_funding }}",
            "Latest Funding Stage": "={{ $json.organization.latest_funding_stage }}",
            "Company Description": "={{ $json.organization.short_description }}",
            "Domain": "={{ $json.organization.website_url.extractDomain().replace(/^www\\./, '') }}",
            "Status": "Pending",
            "Campaign Name": "={{ $('On form submission').first().json['Campaign Name'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter",
              "displayName": "Twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Size (Employees)",
              "displayName": "Company Size (Employees)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Headquarters",
              "displayName": "Headquarters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Founded Year",
              "displayName": "Founded Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Revenue ($)",
              "displayName": "Revenue ($)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Funding",
              "displayName": "Total Funding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latest Funding Stage",
              "displayName": "Latest Funding Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lastest Funding Round Date",
              "displayName": "Lastest Funding Round Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GPT Company Summary",
              "displayName": "GPT Company Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Approved",
              "displayName": "Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9c35a927-6a79-4a95-86b1-822088879a5c",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4704,
        -240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_companies/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload_text.replace(/\"page\":\\s*\\d+/, '\"page\": ' + $json.current_page) }}",
        "options": {}
      },
      "id": "120c187b-d756-463f-9e98-a2ef98653a32",
      "name": "Apollo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5824,
        -144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LELdYelT76eUVxG0",
          "name": "Apollo API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an expert Backend Developer. Your task is to map a raw user form submission into a strict JSON request body for the Apollo.io \"Organization Search\" API.\n\n### 1. INPUT DATA\n[\n  {\n    \"Target Industry\": \"{{ $json[\"Target Industry\"] }}\",\n    \"Target Location\": \"{{ $json[\"Target Location\"] }}\",\n    \"Revenue Min\": {{ $json[\"Revenue Min\"] }},\n    \"Revenue Max\": {{ $json[\"Revenue Max\"] }},\n    \"Employees Range\": \"{{ $json[\"Employees Range\"] }}\",\n    \"Number of Results\": \"{{ $json[\"Number of Results\"] }}\",\n    \"Page\": {{ $json[\"Start Page\"] }}\n  }\n]\n\n### 2. MAPPING RULES (CRITICAL)\nTransform the input into the Apollo schema following these strict rules:\n\n1. **q_organization_keyword_tags** (Array of Strings):\n   - Action: Split \"Target Industry\" by comma.\n   - Requirement: Result must be a list of individual strings.\n\n2. **organization_locations** (Array of Strings):\n   - Action: Split \"Target Location\" by comma.\n\n3. **organization_num_employees_ranges** (Array of Strings):\n   - Action: Take the \"Employees Range\" string and wrap it in brackets.\n   - CORRECT: [\"501,1000\"]\n\n4. **revenue_range** (Object):\n   - Action: Create an object with \"min\" and \"max\" keys.\n   - Requirement: Values must be INTEGERS.\n\n5. **per_page** (Integer):\n   - Action: Convert \"Number of Results\" to an integer.\n\n6. **page** (Integer):\n   - Action: Use the \"Page\" value from input. Default to 1 if missing.\n\n### 3. OUTPUT FORMAT\n- Return **ONLY** valid JSON.\n\n### 4. EXPECTED OUTPUT STRUCTURE\n{\n  \"q_organization_keyword_tags\": [\"Keyword1\"],\n  \"organization_locations\": [\"Location1\"],\n  \"organization_num_employees_ranges\": [\"1,100\"],\n  \"revenue_range\": {\n    \"min\": 1000000,\n    \"max\": 5000000\n  },\n  \"per_page\": 10,\n  \"page\": 1\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "77f91c9d-7524-4cf3-b5a8-e6380b97f808",
      "name": "Message a model",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -6848,
        -80
      ],
      "credentials": {
        "openAiApi": {
          "id": "XvCz6AskOc9x4EOK",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw text safely\nconst rawText = $input.first().json.output?.[0]?.content?.[0]?.text || \"\";\n\n// 2. Extract strictly the JSON text\nconst firstBracket = rawText.indexOf('{');\nconst lastBracket = rawText.lastIndexOf('}');\n\nif (firstBracket === -1 || lastBracket === -1) {\n  throw new Error(\"No JSON object found in the LLM response.\");\n}\n\nconst cleanJsonString = rawText.substring(firstBracket, lastBracket + 1);\n\n// 3. Return it as a TEXT field\nreturn [\n  {\n    json: {\n      payload_text: cleanJsonString\n    }\n  }\n];"
      },
      "id": "d7fa0a33-f893-4ee1-a9ed-30bed06c4b92",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6496,
        -80
      ]
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/api/v1/organizations/enrich",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.website_url.extractDomain().replace(/^www\\./, '') }}\n"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n    \"accept\": \"application/json\",\n    \"Cache-Control\": \"no-cache\",\n    \"Content-Type\": \"application/json\",\n    \"x-api-key\": \"e_hdZOMTBGcSI-Tzduns6A\"\n}",
        "options": {}
      },
      "id": "45cfa3ed-aace-4388-89d8-4029d9700aea",
      "name": "Apollo Organization Enrichment1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4928,
        -240
      ],
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e67a6d80-5a39-4467-8973-7e440e2316e6",
              "name": "current_page",
              "value": "={{ $('On form submission').item.json['Start Page'] }}",
              "type": "number"
            },
            {
              "id": "3b290b39-c5c8-4720-bd7f-94a896085a21",
              "name": "payload_text",
              "value": "={{ $json.payload_text }}",
              "type": "string"
            },
            {
              "id": "c1f72782-9366-474e-b530-81f7d14f2756",
              "name": "retry_count",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "0dde0acd-5505-4519-b29a-ec02e29c8514",
      "name": "Init Loop",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6272,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "586146c8-53e7-49f3-80b6-3a5666f7797e",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1e1fe92f-e9e9-4717-8af3-7e0d41c52bd7",
      "name": "Found New Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5152,
        -144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "022518e9-4e78-4394-bb9f-5c5e8c253c29",
              "name": "current_page",
              "value": "={{ $node[\"Init Loop\"].json.current_page + $node[\"Init Loop\"].json.retry_count + 1 }}",
              "type": "number"
            },
            {
              "id": "189914b4-0b1a-4632-bd92-c42023a412b5",
              "name": "retry_count",
              "value": "={{ $node[\"Init Loop\"].json.retry_count + 1 }}",
              "type": "number"
            },
            {
              "id": "e44d081f-f446-4443-bf6b-9c7f212239d1",
              "name": "payload_text",
              "value": "={{ $node[\"Init Loop\"].json.payload_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "be3956ba-fb88-464c-8058-13cb317aa2f8",
      "name": "Increment Page",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4928,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "97e64303-34e2-4ec4-bc2c-23588e40409a",
              "leftValue": "={{ $json.retry_count }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lt",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6290b9b-e7c9-4d96-bbd3-f3b0dfb76366",
      "name": "Max Retries Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4704,
        16
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Companies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=0"
        },
        "options": {}
      },
      "id": "d87f97da-2c06-4fbe-8fac-11f3b9e1d74f",
      "name": "Get Existing Domains1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -5600,
        -144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the list of domains already in the Google Sheet\nconst existingItems = $items(\"Get Existing Domains1\");\nconst existingDomains = new Set(\n  existingItems.map(item => \n    item.json.Domain ? item.json.Domain.toLowerCase().trim() : \"\"\n  )\n);\n\n// 2. Get the new search results from Apollo\n// If we looped back, Apollo1 might be an array, take the last execution\nconst apolloExecutions = $(\"Apollo1\").all();\nconst lastApolloExecution = apolloExecutions[apolloExecutions.length - 1];\nconst newCandidates = lastApolloExecution.json.organizations || [];\n\nconst uniqueLeads = [];\n\n// 3. Filter: Keep only companies we haven't seen before\nfor (const company of newCandidates) {\n  const url = company.website_url || \"\";\n  const domain = url.replace(/^(?:https?:\\/\\/)?(?:www\\.)?/i, \"\").split('/')[0].toLowerCase();\n\n  if (domain && !existingDomains.has(domain)) {\n    uniqueLeads.push({ json: company });\n    existingDomains.add(domain);\n  }\n}\n\nreturn uniqueLeads;"
      },
      "id": "81f112f9-0f8e-4a54-b97d-a00086f6f9a0",
      "name": "Deduplication Logic1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5376,
        -144
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d040656a-1234-4567-8901-234567890123",
              "name": "current_page",
              "value": "={{ $json.current_page }}",
              "type": "number"
            },
            {
              "id": "d040656a-1234-4567-8901-234567890124",
              "name": "retry_count",
              "value": "={{ $json.retry_count }}",
              "type": "number"
            },
            {
              "id": "d040656a-1234-4567-8901-234567890125",
              "name": "payload_text",
              "value": "={{ $json.payload_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d75c3e18-3c77-4487-b079-2c7223e14eb9",
      "name": "State Manager",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6048,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1622124403,
          "mode": "list",
          "cachedResultName": "Campaigns",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=1622124403"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Campaign Name": "={{ $json['Campaign Name'] }}",
            "Target Industries": "={{ $json['Target Industry'] }}",
            "Reveune Min": "={{ $json['Revenue Min'] }}",
            "Revenue Max": "={{ $json['Revenue Max'] }}",
            "Employees Range": "={{ $json['Employees Range'] }}",
            "Number Of Results": "={{ $json['Number of Results'] }}",
            "Active": "Paused",
            "Target Locations": "={{ $json['Target Location'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target Locations",
              "displayName": "Target Locations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Target Industries",
              "displayName": "Target Industries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reveune Min",
              "displayName": "Reveune Min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Revenue Max",
              "displayName": "Revenue Max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employees Range",
              "displayName": "Employees Range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number Of Results",
              "displayName": "Number Of Results",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Active",
              "displayName": "Active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6832,
        96
      ],
      "id": "02b76cd6-8ac3-45fe-a260-25bd194b255f",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zcWgnFWks0P1HImD",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the enriched contacts from the 'Split People' node (Current Input)\nconst enrichedContacts = $input.all();\n\n// 2. Get the original ranks from the 'Rank & Filter Top 5' node\n// We look back at that specific node to find the 'details' array\nconst rankNodeData = $items(\"Rank & Filter Top 5\");\n\n// 3. Create a lookup map for speed: { \"contact_id\": rank_number }\nconst rankMap = {};\n\n// Check if the rank node has the 'details' array\nif (rankNodeData.length && rankNodeData[0].json.details) {\n  rankNodeData[0].json.details.forEach(item => {\n    // Map the ID to the Rank\n    rankMap[item.id] = item.rank;\n  });\n}\n\n// 4. Merge the rank into the enriched contacts\nreturn enrichedContacts.map(item => {\n  const contact = item.json;\n  \n  // If we find a matching ID in our rank map, add the rank field\n  if (contact.id && rankMap[contact.id]) {\n    contact.rank = rankMap[contact.id];\n  } else {\n    // Fallback: If no match found, assume lowest priority (5)\n    contact.rank = 5;\n  }\n  \n  return { json: contact };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3312,
        624
      ],
      "id": "a910f5a6-2c18-412b-a87f-65812a25d09c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "readStatus": "unread"
        }
      },
      "id": "5b1818bb-9b6c-42e9-9bbc-d16828a9c52a",
      "name": "On New Reply",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -6176,
        2256
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "ny0Ee9fIyp8oQibV",
          "name": "craigfoldes@chatwalrus.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the Domain from the Sender's email\nconst senderEmail = \"kara@nngroup.com\"; //$input.first().json.from.value[0].address;\nconst domain = senderEmail.split('@')[1].toLowerCase().trim();\n\nreturn {\n  json: {\n    replyDomain: domain,\n    senderEmail: senderEmail\n  }\n};"
      },
      "id": "ddfaef69-1714-4a90-b16b-b6c7d4696ee7",
      "name": "Get Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5152,
        2160
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 404191424,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=404191424"
        },
        "options": {}
      },
      "id": "1cc470ff-a173-453b-9132-701c0acfa918",
      "name": "Read All Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -4928,
        2160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the domain from the incoming reply (e.g., \"raminatrans.com\")\n// Note: Ensure the 'Get Domain' node actually ran and has data\nconst replyDomain = $('Get Domain').first().json.replyDomain.toLowerCase().trim();\n\nconst allLeads = $input.all().map(item => item.json);\n\n// 2. Filter rows where the Email Address domain matches\nconst companyMatches = allLeads.filter(lead => {\n  // Get email from sheet\n  const email = (lead['Email Address'] || '').toLowerCase().trim();\n  \n  // Extract domain (everything after @)\n  const parts = email.split('@');\n  if (parts.length < 2) return false; // Skip if invalid email\n  \n  const leadEmailDomain = parts[1];\n\n  // Compare!\n  return leadEmailDomain === replyDomain;\n});\n\nif (companyMatches.length === 0) {\n  return [];\n}\n\nreturn companyMatches.map(lead => ({ json: lead }));"
      },
      "id": "d70409b5-ef37-4d90-a8ed-b14e6a652421",
      "name": "Find Company Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4704,
        2160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 404191424,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=404191424"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Status": "Replied",
            "row_number": 0,
            "Email Address": "={{ $json['Email Address'] }}"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rank",
              "displayName": "Rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn Profile URL",
              "displayName": "LinkedIn Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Verified",
              "displayName": "Email Verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Contacted Date",
              "displayName": "Last Contacted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow-Up Date",
              "displayName": "Follow-Up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Attempt ",
              "displayName": "Contact Attempt ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Draft ID",
              "displayName": "Draft ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Approved",
              "displayName": "Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1e673a98-0d54-42a0-930c-3c939a3e69eb",
      "name": "Mark Company as Replied",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -4496,
        2336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Kill Switch - Reply Received",
        "height": 400,
        "width": 2240,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6272,
        2112
      ],
      "typeVersion": 1,
      "id": "ac31ef79-d7c6-445a-a321-b90b42f77f6b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an expert email classifier. Analyze the following email to determine if it is an automated reply.\n\n**Criteria for \"Auto-Reply\":**\n- Out of Office / Vacation responders.\n- Automated system notifications (e.g., \"Ticket Received\", \"Message Undeliverable\").\n- Generic \"We received your message\" bot responses.\n- It is NOT an auto-reply if a human explicitly wrote it, even if the text is short.\n\n**Email Data:**\nSubject: {{ $json.subject }}\nBody: {{ $json.text }}\n\n**Output Format:**\nReturn ONLY a valid JSON object. Do not include markdown formatting or explanations outside the JSON.\n{\n  \"is_auto_reply\": boolean,\n  \"reason\": \"Short explanation of why\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -5952,
        2256
      ],
      "id": "22f10b33-8b27-47a8-8cef-c82328fc793e",
      "name": "Auto Reply",
      "credentials": {
        "openAiApi": {
          "id": "XvCz6AskOc9x4EOK",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -5152,
        2352
      ],
      "id": "72415fa9-3021-4e6f-a3c6-eba55ac5caf3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw text string using the path you provided\nconst rawText = $input.first().json.output[0].content[0].text;\n\n// 2. Clean the string\n// This Regex removes the \"```json\" at the start and \"```\" at the end\nconst cleanJson = rawText.replace(/^```json\\s*|\\s*```$/g, \"\");\n\n// 3. Parse the string into a JavaScript Object\nconst parsedData = JSON.parse(cleanJson);\n\n// 4. Return the data in the standard n8n format\nreturn {\n  json: parsedData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5600,
        2256
      ],
      "id": "6b96e94e-9806-4f12-b92c-22b071643506",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b7f4c0a1-446d-4652-bb9f-32daa232682c",
              "leftValue": "={{ $json.is_auto_reply }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "b4e42838-a075-4edb-a16b-d4fb905f4e5d",
              "leftValue": "={{ $json.is_auto_reply }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5376,
        2256
      ],
      "id": "420d2c1c-ad34-4851-b065-f56ec11a12f4",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "delete",
        "messageId": "={{ $json['Draft ID'] }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -4496,
        2160
      ],
      "id": "1dcc4f58-2fcf-4bf8-8be9-3dbbe5d0af52",
      "name": "Delete a draft",
      "webhookId": "262b1cf0-76ca-414a-994f-778148ff57fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "Xir6yei5zHNBfDH1",
          "name": "Erik Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 404191424,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=404191424"
        },
        "options": {}
      },
      "id": "4fa0038c-7bd0-4f84-b37d-957c91b859d0",
      "name": "Read Cold Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -5488,
        1520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// WATERFALL & FOLLOW-UP LOGIC - GUARANTEED FOLLOW-UPS\nconst leads = $input.all().map(item => item.json);\nconst companies = {};\n\n// Get \"Today\" at Midnight (00:00:00) to compare calendar days only\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst FOLLOW_UP_GAP_DAYS = 2; // Days to wait (e.g., Contacted Mon -> Send Wed)\nconst NEW_EMAIL_LIMIT = 10; // Maximum NEW emails per day (first contact only)\nconst MAX_ATTEMPTS = 5; // Maximum follow-ups before stopping\n\n// 1. Group by Domain\nleads.forEach(lead => {\n  const domain = lead.domain || lead.company;\n  if (!companies[domain]) companies[domain] = [];\n  companies[domain].push(lead);\n});\n\n// Separate lists for new emails vs follow-ups\nconst newEmails = [];\nconst followUps = [];\nconst skipped = { noRank1: 0, maxedOut: 0, waitingGap: 0, invalidDate: 0 };\n\n// 2. Analyze each company - ONLY RANK 1 (MOST SENIOR)\nfor (const domain in companies) {\n  // Sort by Rank (1=CEO, 2=COO...)\n  const team = companies[domain].sort((a, b) => a.rank - b.rank);\n  \n  // Only consider Rank 1 leads\n  const rank1Lead = team.find(person => person.rank === 1);\n  \n  if (!rank1Lead) {\n    skipped.noRank1++;\n    continue;\n  }\n  \n  const person = rank1Lead;\n  const attempts = parseInt(person.attempts) || 0;\n  \n  // --- SCENARIO A: New Person (Never contacted) ---\n  if (attempts === 0) {\n    newEmails.push(person);\n    continue;\n  }\n  \n  // --- SCENARIO B: Maxed Out (5+ attempts) - No more follow-ups ---\n  if (attempts >= MAX_ATTEMPTS) {\n    skipped.maxedOut++;\n    continue;\n  }\n  \n  // --- SCENARIO C: Follow-Up Candidate (Contacted but under limit) ---\n  // ALWAYS attempt follow-up if gap is met - NO LIMIT ON FOLLOW-UPS\n  \n  // If no lastContact date, send follow-up immediately (data issue fallback)\n  if (!person.lastContact) {\n    console.log(`⚠️ ${person.email}: Missing lastContact date but has ${attempts} attempts. Sending follow-up.`);\n    followUps.push(person);\n    continue;\n  }\n\n  const lastDate = new Date(person.lastContact);\n  \n  // Check for Invalid Date\n  if (isNaN(lastDate.getTime())) {\n    console.log(`⚠️ ${person.email}: Invalid lastContact date \"${person.lastContact}\". Sending follow-up.`);\n    followUps.push(person);\n    skipped.invalidDate++;\n    continue;\n  }\n\n  // Normalize Last Contact to Midnight\n  lastDate.setHours(0, 0, 0, 0);\n  \n  // Calculate difference in days\n  const diffTime = today.getTime() - lastDate.getTime();\n  const diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));\n  \n  if (diffDays >= FOLLOW_UP_GAP_DAYS) {\n    // Gap met - SEND FOLLOW-UP (no limit)\n    console.log(`✅ ${person.email}: ${diffDays} days since last contact. Sending follow-up #${attempts + 1}`);\n    followUps.push(person);\n  } else {\n    // Gap not yet met\n    console.log(`⏳ ${person.email}: Only ${diffDays} day(s) since last contact. Waiting for ${FOLLOW_UP_GAP_DAYS - diffDays} more day(s).`);\n    skipped.waitingGap++;\n  }\n}\n\n// 3. Apply limit ONLY to new emails, ALL follow-ups go through\nconst limitedNewEmails = newEmails.slice(0, NEW_EMAIL_LIMIT);\n\n// Combine: ALL follow-ups + limited new emails\nconst toEmail = [...followUps, ...limitedNewEmails];\n\n// Summary Log\nconsole.log(`\\n=== WATERFALL SUMMARY ===`);\nconsole.log(`Total leads processed: ${leads.length}`);\nconsole.log(`Companies without Rank 1: ${skipped.noRank1}`);\nconsole.log(`Leads maxed out (${MAX_ATTEMPTS}+ attempts): ${skipped.maxedOut}`);\nconsole.log(`Leads waiting for gap: ${skipped.waitingGap}`);\nconsole.log(`Leads with invalid dates: ${skipped.invalidDate}`);\nconsole.log(`--- OUTPUT ---`);\nconsole.log(`Follow-ups scheduled: ${followUps.length} (ALL - no limit)`);\nconsole.log(`New emails: ${newEmails.length} found, ${limitedNewEmails.length} scheduled (limit: ${NEW_EMAIL_LIMIT})`);\nconsole.log(`Total emails to send: ${toEmail.length}`);\nconsole.log(`========================\\n`);\n\nreturn toEmail.map(i => ({ json: i }));"
      },
      "id": "73bb252a-fee4-4841-b69a-5667ac50b6f7",
      "name": "Apply Waterfall",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4848,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 404191424,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=404191424"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Loop Over Items').item.json.email }}",
            "Lead Status": "Draft",
            "Last Contacted Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Follow-Up Date": "={{ $now.plus(2,'days').format('yyyy-MM-dd') }}",
            "Draft ID": "={{ $json.id }}"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rank",
              "displayName": "Rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn Profile URL",
              "displayName": "LinkedIn Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Verified",
              "displayName": "Email Verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Contacted Date",
              "displayName": "Last Contacted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow-Up Date",
              "displayName": "Follow-Up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Attempt ",
              "displayName": "Contact Attempt ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Draft ID",
              "displayName": "Draft ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Approved",
              "displayName": "Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "55ab8c3c-7a32-40ea-a12e-beecd3538f06",
      "name": "Update Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3152,
        1088
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4624,
        1520
      ],
      "id": "209a84f2-2729-41ab-bacf-991506f08869",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Template Selection Engine.\nYour goal is to select the correct email template from the provided list, replace placeholders, and return valid JSON.\n### INPUT CONTEXT\n- Lead Name: {{ $('Loop Over Items').item.json.firstName }}\n- Lead Rank: {{ $('Loop Over Items').item.json.title }}\n- Current Attempt: {{ $('Loop Over Items').item.json.attempts }}\n### TEMPLATE DATABASE\n{{ $('Flatten Data').first().json.data.toJsonString() }}\n### INSTRUCTIONS\n1. **Match**: Find the specific object in the \"TEMPLATE DATABASE\" where:\n   - **Contact Attempt to Email ID Mapping:**\n     - If \"Current Attempt\" is null, empty, or 0 → use Email ID **0** (first email)\n     - If \"Current Attempt\" is 1 → use Email ID **1** (first follow-up)\n     - If \"Current Attempt\" is 2 → use Email ID **2** (second follow-up)\n     - And so on...\n   - \"Rank\" matches \"Lead Rank\". (If no exact Rank match exists, use the \"CEO\" template for that Email ID).\n2. **Personalize**: Replace `[Name]` in the Subject and Body with the \"Lead Name\".\n3. **Format for Human Readability**:\n   - Use proper paragraph spacing: Add a blank line between paragraphs (represented as \\n\\n in the JSON output).\n   - Keep sentences naturally flowing - don't break lines mid-sentence.\n   - Ensure the greeting has a line break after it (e.g., \"Hi Craig,\\n\\n\" before the body).\n   - Add a line break before the sign-off/signature.\n   - Do NOT add extra line breaks within a single paragraph.\n   - The email should read naturally as if typed by a human in Gmail.\n4. **Output**: Return valid, raw JSON only. No Markdown code blocks or formatting.\n### MAPPING SUMMARY\n| Current Attempt | Use Email ID |\n|-----------------|--------------|\n| null / \"\" / 0   | 0            |\n| 1               | 1            |\n| 2               | 2            |\n| 3               | 3            |\n| 4               | 4            |\n### FORMATTING EXAMPLE\nA well-formatted email body should look like:\n\"Hi [Name],\\n\\nFirst paragraph goes here as a complete thought.\\n\\nSecond paragraph with more details here.\\n\\nBest,\\nCraig\"\n### OUTPUT SCHEMA\n{\n  \"email_id_used\": number,\n  \"subject\": \"string\",\n  \"body\": \"string\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -3952,
        976
      ],
      "id": "c26a2476-4f1d-4528-9ccf-e653699bc83c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3872,
        1200
      ],
      "id": "6e5dd206-4ad6-4662-af32-016a8eff26dc",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "XvCz6AskOc9x4EOK",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the text response from the AI\nconst aiContent = $input.first().json.output; \n\n// Parse the string into an object\ntry {\n  if (!aiContent) throw new Error(\"No output found\");\n\n  // Use a regex to clean markdown if the AI accidentally adds ```json wrapper\n  const cleanJson = aiContent.replace(/```json|```/g, '');\n  const parsedData = JSON.parse(cleanJson);\n  \n  // FIX LINE SPACING: Ensure proper HTML line breaks for Gmail\n  // Convert \\n to <br> for proper email formatting\n  if (parsedData.body) {\n    parsedData.body = parsedData.body\n      .replace(/\\n\\n/g, '<br><br>')  // Double newlines to paragraph breaks\n      .replace(/\\n/g, '<br>');        // Single newlines to line breaks\n  }\n  \n  return { json: parsedData };\n} catch (error) {\n  // Fallback if AI output fails\n  return { \n    json: { \n      error: \"Failed to parse JSON\", \n      message: error.message,\n      raw_output: aiContent \n    } \n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3600,
        1088
      ],
      "id": "02008e87-778f-4016-ae0d-bec5fa481639",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "url": "https://api.millionverifier.com/api/v3/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api",
              "value": "F8dfiKUXfCV3HAUapQW3BPlax"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "timeout",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4400,
        1232
      ],
      "id": "b529bd83-517e-4191-9c56-bad523c08eb5",
      "name": "Email Verification"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "623f3105-495e-415b-a8a9-c85d7b3ecd4f",
              "leftValue": "={{ $json.result }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4176,
        1232
      ],
      "id": "658d145f-ce9b-4702-a369-20d7440a2778",
      "name": "Check"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -6240,
        1520
      ],
      "id": "2cc376a2-135a-4324-bf8a-e33784d6f50f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "amount": "=30",
        "unit": "seconds"
      },
      "id": "0e4531d4-7540-47a6-99c9-4f9c1f3208a0",
      "name": "Random Safety Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -2480,
        1312
      ],
      "webhookId": "1bd67cde-e499-4ab8-86e7-01c1d02979fc"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 404191424,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=404191424"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $json.email }}",
            "Email Verified": "Backlisted"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rank",
              "displayName": "Rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn Profile URL",
              "displayName": "LinkedIn Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Verified",
              "displayName": "Email Verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Contacted Date",
              "displayName": "Last Contacted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow-Up Date",
              "displayName": "Follow-Up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Attempt ",
              "displayName": "Contact Attempt ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Draft ID",
              "displayName": "Draft ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved",
              "displayName": "Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "eb4b0d3e-2cf9-4965-9520-ebf7bebc39cd",
      "name": "Mark Lead as BlackListed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3888,
        1376
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1006137993,
          "mode": "list",
          "cachedResultName": "Email Templates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=1006137993"
        },
        "options": {}
      },
      "id": "40f2737e-dc43-4a6d-b829-5b9b8a5ee4ba",
      "name": "Get Email Templates",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -5952,
        1520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get all incoming items (e.g. your 15 rows)\nconst items = $input.all();\n\n// 2. Extract just the JSON data from each item into a new array\nconst allRows = items.map(item => item.json);\n\n// 3. Return a SINGLE item containing that array\nreturn {\n  json: {\n    data: allRows\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5728,
        1520
      ],
      "id": "5b091624-7cfa-4b86-83f4-eb32344b4db7",
      "name": "Flatten Data"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1006137993,
          "mode": "list",
          "cachedResultName": "Email Templates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=1006137993"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Last Used": "={{ $now.format('yyyy-MM-dd') }}",
            "Email ID": "={{ $('Parse JSON').item.json.email_id_used }}"
          },
          "matchingColumns": [
            "Email ID"
          ],
          "schema": [
            {
              "id": "Row Number",
              "displayName": "Row Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rank",
              "displayName": "Rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Subject",
              "displayName": "Email Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Attempt",
              "displayName": "Attempt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Body",
              "displayName": "Email Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Used",
              "displayName": "Last Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2864,
        1088
      ],
      "id": "d0b90c1e-f7ec-4b8d-a63f-d40bf2c3857b",
      "name": "Update Email Template Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Cold Outreach ",
        "height": 768,
        "width": 3984,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6272,
        912
      ],
      "typeVersion": 1,
      "id": "c546acbd-9c96-4487-9128-940bb106f04c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1622124403,
          "mode": "list",
          "cachedResultName": "Campaigns",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=1622124403"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5280,
        1520
      ],
      "id": "d648f99b-db29-4aa2-8958-5c3c524aa339",
      "name": "Get Campaigns1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zcWgnFWks0P1HImD",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get Campaign Data (from the input of this node)\nconst campaigns = $input.all().map(i => i.json);\n\n// Create a map for fast lookup: { \"outreach\": \"active\" }\nconst campaignStatusMap = {};\ncampaigns.forEach(c => {\n  if (c['Campaign Name']) {\n    campaignStatusMap[c['Campaign Name'].toString().trim().toLowerCase()] = (c['Active'] || '').toString().toLowerCase().trim();\n  }\n});\n\n// 2. Get Lead Data (from the 'Read Cold Leads' node)\nconst leadsNode = $items(\"Read Cold Leads\");\nlet allLeads = [];\n\n// Handle standard or nested data structures\nif (leadsNode.length > 0 && leadsNode[0].json.data) {\n   allLeads = leadsNode[0].json.data;\n} else {\n   allLeads = leadsNode.map(i => i.json);\n}\n\n// 3. Filter and Map\nreturn allLeads.filter(lead => {\n  // A. Must have Email\n  if (!lead['Email Address']) return false;\n  \n  // B. CAMPAIGN STATUS CHECK\n  const leadCampaignRaw = lead['Campaign Name']; \n  \n  // If no campaign attached, skip\n  if (!leadCampaignRaw) return false;\n\n  const leadCampaign = leadCampaignRaw.toString().trim().toLowerCase();\n  \n  // If the campaign is not found in our map, or is not 'active', skip it.\n  if (campaignStatusMap[leadCampaign] !== 'active') return false;\n\n  // C. Lead Status Check\n  const status = (lead['Lead Status'] || '').toLowerCase();\n  if (status.includes('replied') || status.includes('unsub') || status.includes('blacklisted')) return false;\n\n  return true;\n}).map(lead => {\n  // NAME PARSING: Your sheet has \"Name\" (Full Name), but template needs First/Last\n  let firstName = lead['First Name'];\n  let lastName = lead['Last Name'];\n  \n  if (!firstName && lead['Name']) {\n      const parts = lead['Name'].trim().split(' ');\n      firstName = parts[0];\n      lastName = parts.slice(1).join(' ');\n  }\n\n  return {\n    json: {\n      email: lead['Email Address'],\n      firstName: firstName,\n      lastName: lastName,\n      company: lead['Company'],\n      domain: lead['Company Domain'],\n      title: lead['Job Title'],\n      // Mapping \"Rank\" from sheet\n      rank: parseInt(lead['Rank']) || 5,\n      // Mapping \"Contact Attempt \" (Handling the space in your sheet header)\n      attempts: parseInt(lead['Contact Attempt'] || lead['Contact Attempt '] || 0),\n      // Mapping \"Last Contacted Date\"\n      lastContact: lead['Last Contacted Date'] || lead['Last Outreach Date'] \n    }\n  };\n});"
      },
      "id": "8346b89b-9717-46ae-8400-ae5678c9554e",
      "name": "Clean Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5072,
        1520
      ]
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body }}",
        "options": {
          "sendTo": "={{ $('Check').item.json.email }}"
        }
      },
      "id": "dc0a7546-6e5c-4487-b4ad-fdeb35c79c1b",
      "name": "Draft via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3392,
        1088
      ],
      "webhookId": "fa0e3e53-d2ab-465c-b406-bd3bab4a91bd",
      "credentials": {
        "gmailOAuth2": {
          "id": "ny0Ee9fIyp8oQibV",
          "name": "craigfoldes@chatwalrus.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Sent Email Tracking\n### Monitors sent emails hourly to:\n- Mark leads as \"Contacted\"\n- Increment Contact Attempt count\n- Set Follow-Up Date for 2nd email in sequence\n",
        "height": 396,
        "width": 1188,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6272,
        1696
      ],
      "typeVersion": 1,
      "id": "96cbd9a6-92ed-4cde-9777-a65bfaab99b3",
      "name": "Tracking Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -6240,
        1920
      ],
      "id": "9e13e28e-cac9-435c-88fb-b2cada69e79e",
      "name": "Schedule Trigger - Track Sent"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "receivedAfter": "={{ $now.minus(3, 'day').toISO() }}",
          "sender": "craigfoldes@chatwalrus.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -6000,
        1920
      ],
      "id": "34706289-7632-48ab-9d52-6c9d49107857",
      "name": "Get Sent Emails (Last 24h)",
      "webhookId": "f966d26c-5bb3-47b6-a3b9-9ab0d3825b14",
      "credentials": {
        "gmailOAuth2": {
          "id": "ny0Ee9fIyp8oQibV",
          "name": "craigfoldes@chatwalrus.com"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 404191424,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=404191424"
        },
        "options": {}
      },
      "id": "c49bda73-a99b-42c7-82c7-49df03335a4e",
      "name": "Read Contacts Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -5760,
        1920
      ],
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get sent emails\nconst sentEmailsNodes = $('Get Sent Emails (Last 24h)').all();\n\n// 2. Get contacts\nconst contactsNodes = $input.all();\n\n// 3. Create Map\nconst contactMap = {};\n\ncontactsNodes.forEach(item => {\n  const contact = item.json;\n  const email = (contact['Email Address'] || '').toLowerCase().trim();\n  \n  if (email) {\n    contactMap[email] = {\n      rowNumber: contact.row_number,\n      currentAttempts: parseInt(contact['Contact Attempt'] || contact['Contact Attempt '] || 0) || 0,\n      lastContacted: contact['Last Contacted Date'] || null,\n      status: contact['Lead Status'] || ''\n    };\n  }\n});\n\nconst toUpdate = [];\nconst processedEmails = new Set();\n\nconsole.log(`Found ${sentEmailsNodes.length} sent emails.`);\nconsole.log(`Mapped ${Object.keys(contactMap).length} contacts from sheet.`);\n\nsentEmailsNodes.forEach((node, index) => {\n  const email = node.json;\n  \n  if (!email.To) {\n    if (index < 3) console.log(`Email #${index} missing 'To' field:`, email);\n    return;\n  }\n\n  // Robust Email Extraction\n  let rawTo = email.To;\n  let toEmail = rawTo;\n\n  if (rawTo.includes('<') && rawTo.match(/<([^>]+)>/)) {\n    toEmail = rawTo.match(/<([^>]+)>/)[1];\n  }\n  \n  toEmail = toEmail.toLowerCase().trim();\n\n  if (contactMap[toEmail]) {\n    const contact = contactMap[toEmail];\n    \n    // Get the sent date of THIS specific email\n    let sentDateStr;\n    try {\n      const dateVal = email.internalDate ? parseInt(email.internalDate) : Date.now();\n      sentDateStr = new Date(dateVal).toISOString().split('T')[0];\n    } catch (e) {\n      sentDateStr = new Date().toISOString().split('T')[0];\n    }\n\n    // Skip duplicates in this batch\n    if (processedEmails.has(toEmail)) return;\n\n    // ✅ FIX: Only update if the email was sent AFTER the last contacted date\n    // This prevents re-counting the same emails every hour\n    if (contact.lastContacted) {\n      const lastContactedDate = new Date(contact.lastContacted);\n      const emailSentDate = new Date(sentDateStr);\n      \n      // If email was sent on or before the last contacted date, skip it\n      if (emailSentDate <= lastContactedDate) {\n        console.log(`Skipping ${toEmail} - Email sent on ${sentDateStr} is not newer than last contact ${contact.lastContacted}`);\n        return;\n      }\n    }\n\n    console.log(`✅ MATCH FOUND: Updating ${toEmail} (Row ${contact.rowNumber})`);\n\n    toUpdate.push({\n      json: {\n        row_number: contact.rowNumber,\n        'Email Address': toEmail,\n        'Lead Status': 'Contacted',\n        'Last Contacted Date': sentDateStr,\n        'Contact Attempt': contact.currentAttempts + 1,\n        'Contact Attempt ': contact.currentAttempts + 1\n      }\n    });\n\n    processedEmails.add(toEmail);\n  } else {\n    if (index < 5) console.log(`❌ No match in sheet for sent email: \"${toEmail}\"`);\n  }\n});\n\nconsole.log(`Total rows to update: ${toUpdate.length}`);\n\nreturn toUpdate;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5520,
        1920
      ],
      "id": "a299fee6-ffd9-442b-8e56-5adacca6268e",
      "name": "Process Sent Emails"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 404191424,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=404191424"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $json[\"Email Address\"] }}",
            "Contact Attempt ": "={{ $json[\"Contact Attempt\"] }}",
            "Lead Status": "Contacted",
            "Last Contacted Date": "={{ $json[\"Last Contacted Date\"] }}",
            "Follow-Up Date": "={{ DateTime.fromISO($json[\"Last Contacted Date\"]).plus({ days: 2 }).toFormat('yyyy-MM-dd') }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rank",
              "displayName": "Rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn Profile URL",
              "displayName": "LinkedIn Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Verified",
              "displayName": "Email Verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Contacted Date",
              "displayName": "Last Contacted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow-Up Date",
              "displayName": "Follow-Up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Attempt ",
              "displayName": "Contact Attempt ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Draft ID",
              "displayName": "Draft ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved",
              "displayName": "Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5280,
        1920
      ],
      "id": "a593dc60-f215-43ba-bfb2-f6895387ac27",
      "name": "Update Contact Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zcWgnFWks0P1HImD",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all contacts and extract Draft IDs\nconst contacts = $input.all().map(i => i.json);\n\n// Filter to only rows with Draft IDs\nconst draftsToDelete = contacts\n  .filter(c => c['Draft ID'] && c['Draft ID'].toString().trim() !== '')\n  .map(c => ({\n    json: {\n      draftId: c['Draft ID'].toString().trim(),\n      email: c['Email Address'] || 'Unknown'\n    }\n  }));\n\nif (draftsToDelete.length === 0) {\n  throw new Error('No drafts found to delete');\n}\n\nreturn draftsToDelete;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5376,
        1040
      ],
      "id": "9438dcdd-97de-4652-9995-25df1300d45c",
      "name": "Extract Draft IDs"
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "delete",
        "messageId": "={{ $json.draftId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -5136,
        1040
      ],
      "id": "9b1d2847-697e-4818-9473-0efbf2636eb7",
      "name": "Delete Draft",
      "webhookId": "89160576-0af8-478e-b77b-7c0826e77f35",
      "credentials": {
        "gmailOAuth2": {
          "id": "ny0Ee9fIyp8oQibV",
          "name": "craigfoldes@chatwalrus.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 404191424,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=404191424"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Extract Draft IDs').item.json.email }}",
            "Draft ID": "",
            "Lead Status": ""
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Draft ID",
              "displayName": "Draft ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -4896,
        1040
      ],
      "id": "274f3dac-8949-413c-a716-5d168132b171",
      "name": "Clear Draft ID in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Delete All Drafts from Sheet\n### How it works:\n1. **Read Contacts Sheet** - Gets all contacts\n2. **Extract Draft IDs** - Filters rows with Draft IDs\n3. **Delete Draft** - Deletes each draft from Gmail\n4. **Clear Draft ID in Sheet** - Removes Draft ID and Lead Status from sheet\n\n### To Run:\nClick \"Execute Workflow\" - it will delete ALL drafts listed in the sheet",
        "height": 272,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5008,
        928
      ],
      "typeVersion": 1,
      "id": "24144c33-ca89-4182-b399-44d89d962323",
      "name": "Instructions"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 404191424,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=404191424"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -5616,
        1040
      ],
      "id": "58a08d4a-4457-4815-a1dc-e38cc2c2147c",
      "name": "Read Contacts Sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Lead Management",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Delete Draft",
              "fieldType": "dropdown",
              "defaultValue": "No",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Generate Again",
              "fieldType": "dropdown",
              "defaultValue": "No",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -6272,
        1136
      ],
      "id": "78578f1f-9940-44c8-bac4-12fd55773d32",
      "name": "On form submission1",
      "webhookId": "1872a216-8305-403f-baa7-e4286f2f8d6e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce116afd-31f1-4779-ad08-bd976fd3fc34",
              "leftValue": "={{ $json['Delete Draft'] }}",
              "rightValue": "No",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -6016,
        1088
      ],
      "id": "857f0a67-5e2c-449b-8ff3-59d72a20ab27",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f6af84fe-e962-48fd-b014-3b134b79bfc2",
              "leftValue": "={{ $json['Generate Again'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -6112,
        1392
      ],
      "id": "fc0df599-1d13-4bb6-82a1-2e453f092b0b",
      "name": "If3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 404191424,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=404191424"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Approved"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -6256,
        3008
      ],
      "id": "ed7e764e-6785-45df-ab47-8665e40e84a9",
      "name": "Watch Approved Column",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "G23RZIMBwpxxWbnQ",
          "name": "Awais Google sheet Account credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-approved",
              "leftValue": "={{ $json.Approved }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-no-draft",
              "leftValue": "={{ $json['Draft ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            },
            {
              "id": "check-has-email",
              "leftValue": "={{ $json['Email Address'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -6016,
        3008
      ],
      "id": "abc839bb-589d-4989-b4e6-03831e6a5c1b",
      "name": "Filter Valid Leads"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst allRows = items.map(item => item.json);\nreturn {\n  json: {\n    data: allRows\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5536,
        3008
      ],
      "id": "7e888003-9e74-49bb-a0e4-197f7b526ce0",
      "name": "Flatten Templates"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -4800,
        3216
      ],
      "id": "531bc0ab-d129-4716-af77-84a7fddd5adb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XvCz6AskOc9x4EOK",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body }}",
        "options": {
          "sendTo": "={{ $('Loop Over Items1').item.json[\"Email Address\"] }}"
        }
      },
      "id": "4f53d588-2704-4b53-9c92-bcfda3e07871",
      "name": "Create Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4240,
        3008
      ],
      "webhookId": "c4522765-bc45-4832-a004-80a72bb76edc",
      "credentials": {
        "gmailOAuth2": {
          "id": "ny0Ee9fIyp8oQibV",
          "name": "craigfoldes@chatwalrus.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YxWpiOFK0L6vg-7qYyZgwYDsnbviT9wqqxEVNbsHfqk",
          "mode": "list",
          "cachedResultName": "11/3 Craig Foldes Personal CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YxWpiOFK0L6vg-7qYyZgwYDsnbviT9wqqxEVNbsHfqk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613201821,
          "mode": "list",
          "cachedResultName": "Email Templates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YxWpiOFK0L6vg-7qYyZgwYDsnbviT9wqqxEVNbsHfqk/edit#gid=1613201821"
        },
        "options": {}
      },
      "id": "4c07140a-c7d7-4286-932a-570a2fa5be13",
      "name": "Get Email Templates1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -5760,
        3008
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Template Selection Engine.\nYour goal is to select the correct email template from the provided list, replace placeholders, and return valid JSON.\n### INPUT CONTEXT\n- Lead Name: {{ $json.Name }}\n- Lead Rank:{{ $json.Rank }}\n- Current Attempt: {{ $json['Current Attempt'] }}\n### TEMPLATE DATABASE\n{{ $('Flatten Templates').first().json.data.toJsonString() }}\n### INSTRUCTIONS\n1. **Match**: Find the specific object in the \"TEMPLATE DATABASE\" where:\n   - **Contact Attempt to Email ID Mapping:**\n     - If \"Current Attempt\" is null, empty, or 0 → use Email ID **0** (first email)\n     - If \"Current Attempt\" is 1 → use Email ID **1** (first follow-up)\n     - If \"Current Attempt\" is 2 → use Email ID **2** (second follow-up)\n     - And so on...\n   - \"Rank\" matches \"Lead Rank\". (If no exact Rank match exists, use the \"CEO\" template for that Email ID).\n2. **Personalize**: Replace `[Name]` in the Subject and Body with the \"Lead Name\".\n3. **Format for Human Readability**:\n   - Use proper paragraph spacing: Add a blank line between paragraphs (represented as \\n\\n in the JSON output).\n   - Keep sentences naturally flowing - don't break lines mid-sentence.\n   - Ensure the greeting has a line break after it (e.g., \"Hi Craig,\\n\\n\" before the body).\n   - Add a line break before the sign-off/signature.\n   - Do NOT add extra line breaks within a single paragraph.\n   - The email should read naturally as if typed by a human in Gmail.\n4. **Output**: Return valid, raw JSON only. No Markdown code blocks or formatting.\n### OUTPUT SCHEMA\n{\n  \"email_id_used\": number,\n  \"subject\": \"string\",\n  \"body\": \"string\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -4880,
        3008
      ],
      "id": "2d23117a-18b3-484c-93ce-0db6063bf832",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "const aiContent = $input.first().json.output;\n\ntry {\n  if (!aiContent) throw new Error(\"No output found\");\n  const cleanJson = aiContent.replace(/```json|```/g, '');\n  const parsedData = JSON.parse(cleanJson);\n  \n  if (parsedData.body) {\n    parsedData.body = parsedData.body\n      .replace(/\\n\\n/g, '<br><br>')\n      .replace(/\\n/g, '<br>');\n  }\n  \n  return { json: parsedData };\n} catch (error) {\n  return { \n    json: { \n      error: \"Failed to parse JSON\", \n      message: error.message,\n      raw_output: aiContent \n    } \n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4480,
        3008
      ],
      "id": "94346fd3-336c-4209-8d92-1144071acb6d",
      "name": "Parse JSON1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 404191424,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plQrsZW7bkY2HsY6M2AOgbYURdcmB3WRa2PIh5uWZmk/edit#gid=404191424"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Loop Over Items1').item.json[\"Email Address\"] }}",
            "Lead Status": "Draft",
            "Draft ID": "={{ $json.id }}",
            "row_number": 0,
            "Last Contacted Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Follow-Up Date": "={{ $now.plus(2,'days').format('yyyy-MM-dd') }}",
            "Contact Attempt ": "={{ (parseInt($('Filter Valid Leads').item.json['Contact Attempt ']) || 0) + 1 }}"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rank",
              "displayName": "Rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn Profile URL",
              "displayName": "LinkedIn Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Verified",
              "displayName": "Email Verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Contacted Date",
              "displayName": "Last Contacted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow-Up Date",
              "displayName": "Follow-Up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Attempt ",
              "displayName": "Contact Attempt ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Draft ID",
              "displayName": "Draft ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved",
              "displayName": "Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "070394ec-7938-418c-a3d2-f8c6f2d745f2",
      "name": "Update Status1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -4000,
        3008
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZSah7NCnZV4Rwsm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Create Drafts for Approved Leads\n\n### How it works:\n1. **Google Sheets Trigger**: Watches the \"Approved\" column every minute\n2. **Filter Valid Leads**: Only processes rows where:\n   - `Approved` = \"Approved\"\n   - `Draft ID` is empty (no draft yet)\n   - `Email Address` exists\n3. **Get Email Templates**: Fetches templates from Personal CRM\n4. **AI Agent**: Selects the right template based on Contact Attempt and Job Title\n5. **Create Gmail Draft**: Creates a draft (NOT sent)\n6. **Update Status**: Sets `Lead Status` to \"Draft\" and stores `Draft ID`\n\n### Client Usage:\n1. Type **\"Approved\"** in the `Approved` column\n2. Draft is created in Gmail within 1 minute\n3. Review and manually send from Gmail",
        "height": 816,
        "width": 2472,
        "color": 4
      },
      "id": "53afd14c-870b-47e2-92a1-55b3d4592a1e",
      "name": "Instructions1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6304,
        2528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the previous node\nconst items = $('Filter Valid Leads').all();\n// Map them to the required n8n format\nreturn items.map(item => {\n  return {\n    json: {\n      Name: item.json.Name,\n      \"Job Title\": item.json[\"Job Title\"],\n      \"Email Address\": item.json[\"Email Address\"],\n      \"Current Attempt\": item.json[\"Contact Attempt \"],\n      \"Rank\":item.json[\"Rank\"]\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5328,
        3008
      ],
      "id": "8eb594c8-4466-4d9f-9ec0-3a2168eeee00",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5120,
        3008
      ],
      "id": "50ae6ecf-8dbf-4f2c-8b57-699d835d0571",
      "name": "Loop Over Items1"
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Select Unprocessed Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Organization Enrichment": {
      "main": [
        [
          {
            "node": "Summarize Core Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Apollo People Search URL": {
      "main": [
        [
          {
            "node": "Apollo Find Decision Makers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items (1000 per Batch)": {
      "main": [
        [],
        [
          {
            "node": "Create Apollo People Search URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Find Decision Makers": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Organization Search": {
      "main": [
        [
          {
            "node": "Add Company Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Company Website": {
      "main": [
        [
          {
            "node": "Approve Company Website",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Rows Which Now All Contain Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Company Details": {
      "main": [
        [
          {
            "node": "Loop Over Items (1000 per Batch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Unprocessed Companies": {
      "main": [
        [
          {
            "node": "Is Domain Already Provided?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Domain Already Provided?": {
      "main": [
        [
          {
            "node": "Merge Rows Which Now All Contain Domains",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Apollo Organization Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Core Business": {
      "main": [
        [
          {
            "node": "Add Company Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Verified Leads": {
      "main": [
        [
          {
            "node": "Derive Past Week's Lead Gen. Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Derive Past Week's Lead Gen. Metrics": {
      "main": [
        [
          {
            "node": "Send Weekly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Report Trigger": {
      "main": [
        []
      ]
    },
    "Merge Rows Which Now All Contain Domains": {
      "main": [
        [
          {
            "node": "Apollo Organization Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank & Filter Top 5": {
      "main": [
        [
          {
            "node": "Apollo Reveal Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Reveal Emails": {
      "main": [
        [
          {
            "node": "Split People",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split People": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Contacts to Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items (1000 per Batch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items (1000 per Batch)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rank & Filter Top 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo1": {
      "main": [
        [
          {
            "node": "Get Existing Domains1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Init Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Organization Enrichment1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Loop": {
      "main": [
        [
          {
            "node": "State Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found New Leads?": {
      "main": [
        [
          {
            "node": "Apollo Organization Enrichment1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increment Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Page": {
      "main": [
        [
          {
            "node": "Max Retries Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Max Retries Check": {
      "main": [
        [
          {
            "node": "State Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Domains1": {
      "main": [
        [
          {
            "node": "Deduplication Logic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplication Logic1": {
      "main": [
        [
          {
            "node": "Found New Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Manager": {
      "main": [
        [
          {
            "node": "Apollo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Save Contacts to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On New Reply": {
      "main": [
        [
          {
            "node": "Auto Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Domain": {
      "main": [
        [
          {
            "node": "Read All Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Leads": {
      "main": [
        [
          {
            "node": "Find Company Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Company Rows": {
      "main": [
        [
          {
            "node": "Delete a draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Company as Replied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Company as Replied": {
      "main": [
        []
      ]
    },
    "Auto Reply": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get Domain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a draft": {
      "main": [
        []
      ]
    },
    "Read Cold Leads": {
      "main": [
        [
          {
            "node": "Get Campaigns1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Waterfall": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Update Email Template Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Email Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Draft via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Verification": {
      "main": [
        [
          {
            "node": "Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Lead as BlackListed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Random Safety Delay": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Lead as BlackListed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Templates": {
      "main": [
        [
          {
            "node": "Flatten Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Data": {
      "main": [
        [
          {
            "node": "Read Cold Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Email Template Status": {
      "main": [
        [
          {
            "node": "Random Safety Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Campaigns1": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Apply Waterfall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft via Gmail": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger - Track Sent": {
      "main": [
        []
      ]
    },
    "Get Sent Emails (Last 24h)": {
      "main": [
        [
          {
            "node": "Read Contacts Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Contacts Sheet": {
      "main": [
        [
          {
            "node": "Process Sent Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sent Emails": {
      "main": [
        [
          {
            "node": "Update Contact Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Draft IDs": {
      "main": [
        [
          {
            "node": "Delete Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Draft": {
      "main": [
        [
          {
            "node": "Clear Draft ID in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Contacts Sheet1": {
      "main": [
        [
          {
            "node": "Extract Draft IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Read Contacts Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Get Email Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Watch Approved Column": {
      "main": [
        [
          {
            "node": "Filter Valid Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Leads": {
      "main": [
        [
          {
            "node": "Get Email Templates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Templates": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft": {
      "main": [
        [
          {
            "node": "Update Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Templates1": {
      "main": [
        [
          {
            "node": "Flatten Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Parse JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON1": {
      "main": [
        [
          {
            "node": "Create Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Google Sheets Trigger": [
      {
        "row_number": 2,
        "change_type": "updated",
        "Campaign Name": "Outreach",
        "Company Name": "Nielsen Norman Group",
        "Website": "http://www.nngroup.com",
        "Domain": "nngroup.com",
        "LinkedIn": "http://www.linkedin.com/company/nielsen-norman-group",
        "Twitter": "https://twitter.com/nngroup",
        "Facebook": "https://facebook.com/nngux/",
        "Phone": " 415-685-4230",
        "Industry": "information technology & services",
        "Company Size (Employees)": 190,
        "Headquarters": "48105 Warm Springs Blvd., Silicon Valley, California, US",
        "Founded Year": 1998,
        "Revenue ($)": 2000000,
        "Total Funding": "",
        "Latest Funding Stage": "",
        "Lastest Funding Round Date": "",
        "Company Description": "Nielsen Norman Group (NN/g) is a UX consultancy founded in 1998 by Dr. Jakob Nielsen and Dr. Don Norman. The company specializes in evidence-based user experience research, training, and consulting to enhance technology interfaces for everyday users. With over 25 years of experience, NN/g has established itself as a trusted leader in the UX field, focusing on research-driven insights to help organizations improve designs and workflows.\n\nNN/g offers a range of services, including usability testing, user research, and design guideline development for e-commerce, intranets, and websites. They provide practitioner-focused training and UX Certification programs, with many professionals participating in their courses. The company also shares free resources, such as articles, videos, and a weekly newsletter summarizing usability research. Notable products include research reports, the annual Intranet Design Awards, and established guidelines like Jakob Nielsen's 10 Usability Heuristics.",
        "GPT Company Summary": "",
        "Approved": "Approved",
        "Status": "Pending"
      },
      {
        "row_number": 3,
        "change_type": "updated",
        "Campaign Name": "Outreach",
        "Company Name": "Hypersonix Inc.",
        "Website": "http://www.hypersonix.ai",
        "Domain": "hypersonix.ai",
        "LinkedIn": "http://www.linkedin.com/company/hypersonix-ai",
        "Twitter": "https://twitter.com/hypersonix_ai",
        "Facebook": "https://www.facebook.com/official.hypersonixai",
        "Phone": " 408-515-7177",
        "Industry": "information technology & services",
        "Company Size (Employees)": 110,
        "Headquarters": "san francisco, california, united states, 94105",
        "Founded Year": 2019,
        "Revenue ($)": 4100000,
        "Total Funding": 50100000,
        "Latest Funding Stage": "Series B",
        "Lastest Funding Round Date": "",
        "Company Description": "Hypersonix Inc. is a software company based in San Jose, California, founded in 2018. The company specializes in AI-driven platforms tailored for eCommerce and retail, focusing on automating sales, marketing, and operations to foster profitable growth. With a team of around 82-86 employees, Hypersonix has raised $46.5 million in funding, including a significant $35 million Series B round, to enhance its AI infrastructure and expand its market presence.\n\nThe flagship product, ProfitGPT, is a cloud-based generative AI platform that provides real-time actionable intelligence and predictive insights. It integrates with various systems, including eCommerce and ERP, to streamline operations for businesses. ProfitGPT features modular tools such as Competitor AI, Pricing AI, and Inventory AI, which help businesses optimize pricing, forecast demand, and analyze market trends. Hypersonix aims to empower eCommerce and retail businesses with intelligent solutions that drive efficiency and enhance decision-making.",
        "GPT Company Summary": "",
        "Approved": "Approved",
        "Status": "Pending"
      },
      {
        "row_number": 4,
        "change_type": "updated",
        "Campaign Name": "Outreach",
        "Company Name": "80Twenty",
        "Website": "http://www.80twenty.com",
        "Domain": "80twenty.com",
        "LinkedIn": "http://www.linkedin.com/company/80twenty",
        "Twitter": "https://twitter.com/80twentydigital",
        "Facebook": "https://www.facebook.com/80TwentyDigital/",
        "Phone": "",
        "Industry": "staffing & recruiting",
        "Company Size (Employees)": 73,
        "Headquarters": "369 Pine St, San Francisco, California, US",
        "Founded Year": 2011,
        "Revenue ($)": 6147000,
        "Total Funding": "",
        "Latest Funding Stage": "",
        "Lastest Funding Round Date": "",
        "Company Description": "80Twenty is a boutique staffing and recruiting agency founded in 2012 and based in San Francisco, California. The agency specializes in sourcing high-caliber talent for marketing, sales, creative, and executive roles, particularly in competitive markets. With a focus on quality over volume, 80Twenty employs a proven methodology to engage and attract top performers, believing that 20% of people drive 80% of results.\n\nThe agency offers end-to-end recruitment solutions tailored to specialized and challenging roles. Services include strategic talent acquisition, sourcing both active and passive candidates, and managing interviews and onboarding processes. 80Twenty operates in various locations, including San Jose, Orange County, Los Angeles, and New York City, and serves businesses across the U.S., particularly in tech hubs and creative industries. The agency has received recognition as a top sales search firm and is known for its expertise in sectors like eCommerce and creative fields.",
        "GPT Company Summary": "",
        "Approved": "Approved",
        "Status": "Pending"
      },
      {
        "row_number": 5,
        "change_type": "updated",
        "Campaign Name": "Outreach",
        "Company Name": "Maven Analytics",
        "Website": "http://www.mavenanalytics.io",
        "Domain": "mavenanalytics.io",
        "LinkedIn": "http://www.linkedin.com/company/maven-analytics",
        "Twitter": "https://twitter.com/MAVEN2Mars",
        "Facebook": "https://www.facebook.com/mavenanalytics",
        "Phone": " 857-256-1765",
        "Industry": "e-learning",
        "Company Size (Employees)": 99,
        "Headquarters": "200 Portland St, 5th Floor, Boston, Massachusetts 02114, US",
        "Founded Year": 2018,
        "Revenue ($)": 5637000,
        "Total Funding": "",
        "Latest Funding Stage": "",
        "Lastest Funding Round Date": "",
        "Company Description": "Maven Analytics is an online learning platform founded in 2014, based in Boston, Massachusetts. The company focuses on data analytics and business intelligence education, aiming to empower individuals to make impactful decisions using data. With around 29 employees, Maven Analytics has been recognized as one of the top education companies in the industry.\n\nThe company offers a range of learning solutions for individuals and organizations. For individuals, it provides online courses in analytics tools like Microsoft Excel, Power BI, Tableau, MySQL, and Python, along with personalized learning plans and career coaching. For companies, Maven Analytics delivers team training programs, data skills assessments, and certification preparation courses. Their unique Guided Learning™ model emphasizes instructor-led support and personalized experiences, fostering real connections between students and instructors.",
        "GPT Company Summary": "",
        "Approved": "Approved",
        "Status": "Pending"
      },
      {
        "row_number": 6,
        "change_type": "updated",
        "Campaign Name": "Outreach",
        "Company Name": "TWO95 International, Inc",
        "Website": "http://www.two95intl.com",
        "Domain": "two95intl.com",
        "LinkedIn": "http://www.linkedin.com/company/two95-international",
        "Twitter": "https://twitter.com/two95int",
        "Facebook": "https://facebook.com/pages/TWO95-International-Inc/556869737722961",
        "Phone": " 856-528-3312",
        "Industry": "information technology & services",
        "Company Size (Employees)": 150,
        "Headquarters": "1101, N Kings Hwy, Suite#200, Cherry Hill, New Jersey 08034, US",
        "Founded Year": 2009,
        "Revenue ($)": 7600000,
        "Total Funding": "",
        "Latest Funding Stage": "",
        "Lastest Funding Round Date": "",
        "Company Description": "Two95 International, Inc. is a global technology firm founded in 2009 and based in Cherry Hill, New Jersey. The company specializes in IT staffing, enterprise solutions, and a wide range of IT services, including Generative AI, Digital Transformation, Edge Computing, Cyber Security, and more. With a team of skilled analysts, architects, and software engineers, Two95 provides 24/7 support and acts as an extension of clients' IT teams.\n\nThe company operates with a workforce of 10-49 employees across offices in the US, Canada, and India. Two95 has over 15 years of industry experience and has received recognition as one of the fastest-growing companies in North America and New Jersey. Their services include managed IT solutions, talent placements, and implementation of ERP and CRM systems, focusing on building long-term relationships and delivering innovative solutions tailored to client needs.",
        "GPT Company Summary": "",
        "Approved": "Approved",
        "Status": "Pending"
      },
      {
        "row_number": 7,
        "change_type": "updated",
        "Campaign Name": "Outreach",
        "Company Name": "Pronix Inc",
        "Website": "http://www.pronixinc.com",
        "Domain": "pronixinc.com",
        "LinkedIn": "http://www.linkedin.com/company/pronix-inc",
        "Twitter": "https://twitter.com/PronixInc",
        "Facebook": "https://www.facebook.com/WePronixinc/",
        "Phone": " 732-476-5277",
        "Industry": "information technology & services",
        "Company Size (Employees)": 200,
        "Headquarters": "666 Plainsboro Road, Suite 1361, Plainsboro, New Jersey 08536, US",
        "Founded Year": 2010,
        "Revenue ($)": 7273000,
        "Total Funding": "",
        "Latest Funding Stage": "",
        "Lastest Funding Round Date": "",
        "Company Description": "Pronix Inc. is a global IT services and digital solutions company based in the United States, founded in 2010 and headquartered in Plainsboro, New Jersey. With offices in the USA, India, UAE, and Europe, Pronix specializes in digital transformation for midsize to enterprise-level clients across various industries, including healthcare, manufacturing, banking, telecom, retail, and more.\n\nThe company offers a wide range of services, focusing on AI, cloud, data, and application development. Their offerings include digital transformation strategy, AI and automation solutions, cloud computing services, and application development for enterprise needs. Pronix also provides data analytics, quality assurance, IT consulting, and staffing services. They are ISO 9001:2015 certified and hold several diversity certifications, reflecting their commitment to quality and inclusivity. Pronix has been recognized as one of America's Fastest-Growing Private Companies, showcasing their growth and impact in the IT sector.",
        "GPT Company Summary": "",
        "Approved": "Approved",
        "Status": "Pending"
      },
      {
        "row_number": 8,
        "change_type": "updated",
        "Campaign Name": "Outreach",
        "Company Name": "TestGrid.io",
        "Website": "http://www.testgrid.io",
        "Domain": "testgrid.io",
        "LinkedIn": "http://www.linkedin.com/company/testgrid-io",
        "Twitter": "https://twitter.com/testgridio",
        "Facebook": "https://www.facebook.com/TestGrid/",
        "Phone": " 619-500-7856",
        "Industry": "information technology & services",
        "Company Size (Employees)": 200,
        "Headquarters": "3423 Piedmont Rd NE, Atlanta, GA 30305, US",
        "Founded Year": 2015,
        "Revenue ($)": 5000000,
        "Total Funding": "",
        "Latest Funding Stage": "Seed",
        "Lastest Funding Round Date": "",
        "Company Description": "TestGrid.io is a software testing company based in Atlanta, Georgia, that specializes in AI-powered automation testing solutions. The company offers its services through cloud and on-premise platforms, aiming to simplify testing processes, reduce costs, and speed up software releases for enterprises. TestGrid operates from Atlanta Tech Village and has additional offices in Pune, India. \n\nThe company provides a unified test infrastructure called TestOS, which supports a wide range of testing tools for iOS, Android, web, and cross-browser applications. Key features include an AI agent for test generation, codeless testing options, and support for existing automation scripts. TestGrid has facilitated over 50 million tests globally and reports a 99.95% uptime. With a growing customer base and a focus on high-velocity teams, TestGrid has demonstrated significant improvements in release speed, manual operations, security, and productivity for its clients.",
        "GPT Company Summary": "",
        "Approved": "Approved",
        "Status": "Pending"
      },
      {
        "row_number": 9,
        "change_type": "updated",
        "Campaign Name": "Outreach",
        "Company Name": "AllianceIT Inc",
        "Website": "http://www.allianceit.com",
        "Domain": "allianceit.com",
        "LinkedIn": "http://www.linkedin.com/company/allianceit-inc",
        "Twitter": "https://twitter.com/allianceit123",
        "Facebook": "https://www.facebook.com/ALLIANCEITCSS/",
        "Phone": " 925-415-3140",
        "Industry": "information technology & services",
        "Company Size (Employees)": 81,
        "Headquarters": "6101 BOLLINGER CANYON ROAD, STE 335G, San Ramon, CA 94583, US",
        "Founded Year": 2011,
        "Revenue ($)": 7627000,
        "Total Funding": "",
        "Latest Funding Stage": "",
        "Lastest Funding Round Date": "",
        "Company Description": "AllianceIT Inc is an information technology company based in the Silicon Valley area, specifically in San Ramon and Pleasanton, California. Founded in 2011, the company specializes in accelerating digital transformation for its clients. With a team of 30 to 69 professionals, AllianceIT generates approximately $7.8 million in revenue.\n\nThe company offers a variety of IT solutions, including IT infrastructure and operations management, application hosting, security assessment and consulting, systems integration, and IT consulting. They also assist clients in procuring tailored hardware and software and provide professional staffing services for long-term IT support. AllianceIT serves Fortune 500 companies and large global organizations across various sectors, including healthcare, retail, manufacturing, finance, non-profits, and hi-tech.",
        "GPT Company Summary": "",
        "Approved": "Approved",
        "Status": "Pending"
      },
      {
        "row_number": 10,
        "change_type": "updated",
        "Campaign Name": "Outreach",
        "Company Name": "Mindful",
        "Website": "http://www.mindful.org",
        "Domain": "mindful.org",
        "LinkedIn": "http://www.linkedin.com/company/mindful-org",
        "Twitter": "https://twitter.com/MindfulOnline",
        "Facebook": "https://facebook.com/mindfulorg",
        "Phone": " 855-492-1675",
        "Industry": "health, wellness & fitness",
        "Company Size (Employees)": 57,
        "Headquarters": "515 north state street, chicago, illinois, united states",
        "Founded Year": 2011,
        "Revenue ($)": 4820000,
        "Total Funding": 2500000,
        "Latest Funding Stage": "Venture (Round not Specified)",
        "Lastest Funding Round Date": "",
        "Company Description": "Mindful is a platform dedicated to promoting mindfulness through a variety of resources and courses. It offers a membership called Mindful Premium, which provides access to courses, affirmation cards, journals, and other mindfulness tools. Users can explore guided meditation practices from leading teachers, read articles on mindfulness science, and find practical tips for integrating mindfulness into daily life.\n\nThe platform focuses on delivering mindfulness education and tools that help individuals cultivate calm, focus, and emotional resilience. Mindful's offerings are designed to be accessible anytime and anywhere, making it easier for users to develop a consistent mindfulness practice. The audience includes individuals seeking personal growth, professionals aiming to reduce stress, and parents interested in mindful parenting techniques. Mindful's content is suitable for both beginners and those with established practices.",
        "GPT Company Summary": "",
        "Approved": "Approved",
        "Status": "Pending"
      },
      {
        "row_number": 11,
        "change_type": "updated",
        "Campaign Name": "Outreach",
        "Company Name": "Gadget Shop",
        "Website": "http://www.gorillagadgets.com",
        "Domain": "gorillagadgets.com",
        "LinkedIn": "http://www.linkedin.com/company/easy-electronic-project",
        "Twitter": "https://twitter.com/Gorilla_Gadgets",
        "Facebook": "https://facebook.com/GorillaGadgets",
        "Phone": " 888-663-5998",
        "Industry": "marketing & advertising",
        "Company Size (Employees)": 150,
        "Headquarters": "2650 Walnut Ave Unit E, Tustin, California, United States, 92780",
        "Founded Year": 2010,
        "Revenue ($)": 9917000,
        "Total Funding": "",
        "Latest Funding Stage": "",
        "Lastest Funding Round Date": "",
        "Company Description": "Gorilla Gadgets is an online retailer based in Santa Ana, California, specializing in a wide range of high-quality electronic gadgets. Founded in 2010, the company has over 14 years of experience in providing products that enhance everyday life. Their diverse lineup includes phone cases, chargers, health and fitness gadgets, and home electronics, all designed to be reliable and stylish.\n\nThe company targets consumers looking for practical and innovative electronic accessories, including items for outdoor activities and personal wellness. Gorilla Gadgets operates primarily through its online platform, serving a broad customer base interested in electronic supplies and accessories. With a focus on quality and customer satisfaction, Gorilla Gadgets caters to tech-savvy and value-conscious consumers.",
        "GPT Company Summary": "",
        "Approved": "Approved",
        "Status": "Pending"
      }
    ],
    "On form submission": [
      {
        "Campaign Name": "Outreach",
        "Target Industry": "Retail",
        "Target Location": "United States, Canada",
        "Revenue Min": 2000000,
        "Revenue Max": 10000000,
        "Employees Range": "51,200",
        "Number of Results": "10",
        "Start Page": 1,
        "submittedAt": "2026-01-16T07:32:56.002-08:00",
        "formMode": "production"
      }
    ],
    "Schedule Trigger": [
      {
        "timestamp": "2026-02-26T00:00:15.007-08:00",
        "Readable date": "February 26th 2026, 12:00:15 am",
        "Readable time": "12:00:15 am",
        "Day of week": "Thursday",
        "Year": "2026",
        "Month": "February",
        "Day of month": "26",
        "Hour": "00",
        "Minute": "00",
        "Second": "15",
        "Timezone": "America/Los_Angeles (UTC-08:00)"
      }
    ],
    "Schedule Trigger - Track Sent": [
      {
        "timestamp": "2026-02-22T12:00:53.004-08:00",
        "Readable date": "February 22nd 2026, 12:00:53 pm",
        "Readable time": "12:00:53 pm",
        "Day of week": "Sunday",
        "Year": "2026",
        "Month": "February",
        "Day of month": "22",
        "Hour": "12",
        "Minute": "00",
        "Second": "53",
        "Timezone": "America/Los_Angeles (UTC-08:00)"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45d8f26ad96e0289d3cfc7825d5d775d23ae3675f6758e4f4a62abf4fb714ddc"
  }
}
